# Файлы, специфические для системы (например, файлы созданные macOS)
.DS_Store
Thumbs.db

# Файлы блокировки редактора
*.lock

# Файлы, создаваемые редактором Godot для персонального использования
.editor_settings-*.tmp

# Файлы автосохранения редактора Godot
*.autosave

# Файлы сценариев Mono (C#) - раскомментируйте, если используете C# и не хотите отслеживать эти файлы
# .mono/
# **/*.csproj
# **/*.sln

# Эти папки содержат скомпилированные скрипты и временные файлы для Mono (C#)
# Их не следует отслеживать, если в вашем проекте используется C#
bin/
obj/

# Игнорировать папку с импортированными ресурсами
imported/

# Игнорирование кэша шейдеров
shader_cache/